<%- include('partials/header.ejs') %>
    <section class="profile">
        <h1>PROFILE</h1>
    </section>

    
    <div class="pdisplay">

        <div class="img">
        <img src="profile.jpg" alt="">
        </div>
        <div class="detail">
        <h2><strong>UserID</strong>        :    <%= userId %> </h2>
        <h2><strong>Username</strong>         : <%= username %></h2> 
        <h2><strong>Institute Email</strong>:   <%= Email %></h2> 
        <h2><strong>Institute Id</strong> :     <%= instituteid %></h2> 
        <h2><strong>Department</strong>    :    <%= department %></h2>

        </div>
         
    </div>

</body>
</html>
